<header>
    <h1>GeekInstgram</h1>
    <div class="top_link">
      <%= link_to "新規投稿",new_post_path %>
      &nbsp&nbsp&nbsp&nbsp
      <% if user_signed_in? %>
       <%= link_to "マイページへ", user_path(current_user.id) %>　
      <% end %>
    </div>
</header>
<div class="posts_container container-fluid">
  <div class="row">
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
      <h1>投稿一覧ページ</h1>
      <h3>投稿を検索</h3>
      <%= form_tag({controller:"posts",action:"index"}, method: :get) do %>
        <%= text_field_tag :search %>
        <%= submit_tag '検索する'  %>
      <% end %>
      <% @posts.each do |t| %>
        <%= image_tag t.image_url, size: "250x200" if t.image? %>
        <div class="post">
          <%= t.body %>
          <% if user_signed_in? %>
            <% if current_user.already_liked?(t) %>
                <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
                  <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% else %>
                <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
                  <i class="fas fa-heart"></i><%= t.likes.count %>
                <% end %>
            <% end %>
          <% else %>
          <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
          <a href="/users/<%= t.user.id %>"><%= t.user.name %></a>
          <br>
          <%= t.created_at %>
          <br>
          <%= link_to "詳細へ", post_path(t.id) %>
          <% if user_signed_in? && current_user.id == t.user_id %> 
            <%= link_to "編集する", edit_post_path(t.id) %>
            <%= button_to "削除する", post_path(t.id), method: :delete %>
          <% end %>
        </div>
      <% end %>
      <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>